{% include 'base.html' %}
{% include 'navigations.html' %}

<style>
  .mydivstyle:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
  }
</style>

{% block content %}
<div class="container" style="margin-top: 50px;">
  <h1 class="text-center" >Contact Us</h1>
  <div class="row mt-5 text-center">
    <div class="col mydivstyle col-lg-3 col-sm-6">
      <h4><i class="fas fa-phone-square" aria-hidden="true"></i>Contact</h4>
      <p class="text-danger font-weight-bold mt-3"><a href="tel:+48532313213">+48532313213</a></p>
    </div>
    <div class="col mydivstyle col-lg-3 col-sm-6">
      <h4><i class="fas fa-envelope-open" aria-hidden="true"></i>Send email</h4>
      <p class="mt-3 font-weight-bold"><a href="mailto:abc@gmail.com">abc@gmail.com</a></p>
    </div>
    <div class="col mydivstyle col-lg-3 col-sm-6">
      <h4><i class="fas fa-address-card" aria-hidden="true"></i>Office address</h4>
      <p class="mt-3 font-weight-bold"><a href="https://www.google.com/maps/">Office address</a></p>
    </div>
    <div class="col mydivstyle col-lg-3 col-sm-6">
      <h4><i class="fas fa-calendar-times" aria-hidden="true"></i>Office time</h4>
      <p class="mt-3 font-weight-bold">10 am to 8 pm</p>
    </div>
  </div>
</div>

{% endblock content %}