{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
<br><br>

<head>
  <meta charset="utf-8">


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

  <style type="text/css">
    a:link {
      text-decoration: none;
    }

    .menu {
      top: 50px;
    }

    h6 {
      color: white;
    }

    .bg-c-green {
      background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    }
  </style>
</head>



<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/admin-view-patient" class="btn btn-primary">Sprawdź listę pacjentów</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/admin-add-patient" class="btn btn-primary">Dodaj pacjenta</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/admin-approve-patient" class="btn btn-primary">Pacjenci do akceptacji</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/admin-discharge-patient" class="btn btn-primary">Usuń pacjenta</a>
      </div>
    </div>
  </div>

</div>

<br><br><br><br><br><br><br>
{% endblock content %}
