{% extends 'hospital/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<br><br><br>
<!------ signup page for doctor by admin(sumit)  ---------->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>Add New Doctor To Hospital</p>
      </div>
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.first_name class="form-control" placeholder="Imie" %}
            </div>
            <div class="form-group">
              {% render_field userForm.username class="form-control" placeholder="Nazwa" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.department class="form-control" placeholder="Oddział" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.address class="form-control" placeholder="Adres" %}
            </div>

          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field userForm.last_name class="form-control" placeholder="Nazwisko" %}
            </div>
            <div class="form-group">
              {% render_field userForm.password class="form-control" placeholder="Hasło" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.mobile class="form-control"  placeholder="Kontakt" %}
            </div>
            <div class="form-group">
              {% render_field doctorForm.profile_pic required="required" class="form-control" placeholder="Zdjęcie" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">Rejestruj</button>
      </div>
    </div>
  </div>

</form>

{% endblock content %}
