<!DOCTYPE html>

{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Rejestracja lekarza</title>
</head>


<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>
  <br>
  <br>




  <!--- signup page for doctor by admin(sumit)  ---------->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field userForm.first_name class="form-control" placeholder="Imię" %}
              </div>
              <div class="form-group">
                {% render_field userForm.username class="form-control" placeholder="Login" %}
              </div>
              <div class="form-group">
                {% render_field doctorForm.department class="form-control" placeholder="Department" %}
              </div>
              <div class="form-group">
                {% render_field doctorForm.address class="form-control" placeholder="Adres" %}
              </div>

            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field userForm.last_name class="form-control" placeholder="Nazwisko" %}
              </div>
              <div class="form-group">
                {% render_field userForm.password class="form-control" placeholder="Hasło" %}
              </div>
              <div class="form-group">
                {% render_field doctorForm.mobile class="form-control"  placeholder="Kontakt" %}
              </div>
              <div class="form-group">
                {% render_field doctorForm.profile_pic required="required" class="form-control" placeholder="Zdjęcie" %}
              </div>

            </div>
          </div>
          <button type="submit" class="btnSubmit">Rejestracja</button>
          <div class="text-center">Masz już konto? <a href="doctorlogin">Zaloguj się</a></div>
        </div>
      </div>
    </div>

  </form>

  {% include "hospital/footer.html" %}
</body>


</html>
