<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HMS - Django</title>


  <style type="text/css">

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
  </style>

</head>

<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>
  <br><br>

  <!--- login page for patient by admin(sumit)  ---------->
  <form method="post">
    {% csrf_token %}
    <p>Logowanie pacjenta</p>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form.username class="form-control" placeholder="Login" %}
              </div>

            </div>
            <div class="col-md-6">

              <div class="form-group">
                {% render_field form.password class="form-control" placeholder="Hasło" %}
              </div>

            </div>
          </div>
          <button type="submit" class="btnSubmit">Login</button>
          <div class="text-center">Nie masz profilu pacjenta <a href="patientsignup">Zarejestruj się</a></div>
        </div>
      </div>
    </div>

  </form>

  <br><br><br>
  

  {% include "hospital/footer.html" %}
</body>

</html>
